// Глобальные стили
html {
  display: flex;                      // Адаптиция под мобильные устройства
  min-height: -webkit-fill-available; // Адаптиция под мобильные устройства
  overflow: hidden;
}
// Для правной смены цветовых тем
html.color-theme-in-transition,
html.color-theme-in-transition * {
  transition: 200ms;
  transition-delay: 0;
}

// Инвертируем изображения в темной теме
html[data-theme="dark"] .blend {
  filter: invert(100%) hue-rotate(180deg);
  mix-blend-mode: screen;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
